<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="askReply">
  
  <!-- 댓글작성하기 -->
  <insert id="insertReply" parameterType="askReply">
  	insert into askreply values(askreply_seq.nextval,#{askNo},#{askReplyContent},sysdate,null,null)
  </insert>
  
  <!-- 댓글삭제하기 -->
  <update id="deleteReply" parameterType="askReply" >
  	update askreply set askreplydelete = #{askReplyDelete} where askreplyno = #{askReplyNo}
  </update>
  
  
</mapper>
