<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="comment">

	<insert id="insertComment" parameterType="comment">
		INSERT INTO COMMENTBOARD VALUES(COMMENTBOARD_SEQ.NEXTVAL, #{projectNo}, #{memberEmail}, #{commentContent}, #{commentDate}, #{commentMod}, #{commentDelete})
		<selectKey resultType="int" keyProperty="commentNo" order="AFTER" keyColumn="commentNo">
			SELECT COMMENTBOARD_SEQ.CURRVAL FROM DUAL			
		</selectKey>
	</insert>
	
	<insert id="insertCommentReply" parameterType="commentReply">
		INSERT INTO COMMENTREPLY VALUES(COMMENTREPLY_SEQ.NEXTVAL, #{commentNo}, #{memberEmail}, #{commentReplyContent}, #{commentReplyDate}, #{commentReplyMod}, #{commentReplyDelete})
		<selectKey resultType="int" keyProperty="commentReplyNo" order="AFTER" keyColumn="commentReplyNo">
			SELECT COMMENTREPLY_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="selectCommentCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM COMMENTBOARD WHERE PROJECTNO = #{projectNo} AND COMMENTDELETE IS NULL
	</select>

	<select id="selectCommentList" parameterType="int" resultType="comment">
		SELECT * FROM COMMENTBOARD 
		JOIN MEMBER USING(MEMBEREMAIL)
		WHERE PROJECTNO = #{projectNo}
		AND COMMENTDELETE IS NULL
	</select>
	
	<select id="selectCommentReply" parameterType="int" resultType="commentReply">
		SELECT * FROM COMMENTREPLY
		JOIN MEMBER USING(MEMBEREMAIL)
		WHERE COMMENTNO = #{commentNo}
		AND COMMENTREPLYDELETE IS NULL
	</select>
	
	<update id="updateComment" parameterType="comment">
		UPDATE COMMENTBOARD SET COMMENTCONTENT = #{commentContent}, COMMENTMOD = #{commentMod}
		WHERE COMMENTNO = #{commentNo}
	</update>
	
	<update id="updateCommentReply" parameterType="commentReply">
		UPDATE COMMENTREPLY SET COMMENTREPLYCONTENT = #{commentReplyContent}, COMMENTREPLYMOD = #{commentReplyMod}
		WHERE COMMENTREPLYNO = #{commentReplyNo}
	</update>
	
	<update id="deleteComment" parameterType="comment">
		UPDATE COMMENTBOARD SET COMMENTDELETE = #{commentDelete} WHERE COMMENTNO = #{commentNo}
	</update>
	
	<update id="deleteCommentReply" parameterType="commentReply">
		UPDATE COMMENTREPLY SET COMMENTREPLYDELETE = #{commentReplyDelete} WHERE COMMENTREPLYNO = #{commentReplyNo}
	</update>

</mapper>