<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="memberCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="memberDeleteAll">
		DELETE FROM MEMBER
	</select>
	
	<select id="insertOne" parameterType="member">
		INSERT INTO MEMBER VALUES(#{memberEmail}, #{memberPw}, #{memberName}, #{memberNick}, #{memberProfile}, null, #{intro}, #{emailAuthKey}, #{phoneAuthKey}, #{lastLoggedIn}, #{enrollDate}, null, #{kakaoId})
	</select>

	<select id="login" parameterType="member" resultType="member">
		select * from member where memberEmail=#{memberEmail} where memberquit is null
	</select>
	
	<select id="kakao" parameterType="member" resultType="member">
		select * from member where kakaoId=#{kakaoId} where memberquit is null
	</select>
	
	<select id="selectOne" parameterType="String" resultType="member">
		select * from member where memberEmail = #{memberEmail} where memberquit is null
	</select>

</mapper>
