<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="memberCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="memberDeleteAll">
		DELETE FROM MEMBER
	</select>
	
	<select id="insertOne" parameterType="member">
		INSERT INTO MEMBER VALUES(#{memberEmail}, #{memberPw}, #{memberName}, #{memberNick}, #{memberProfile}, null, #{intro}, #{emailAuthKey}, #{phoneAuthKey}, #{lastLoggedIn}, #{enrollDate}, null, #{kakaoId})
	</select>

	<select id="login" parameterType="member" resultType="member">
		select * from member where memberEmail=#{memberEmail} and memberquit is null
	</select>
	
	<select id="kakao" parameterType="member" resultType="member">
		select * from member where kakaoId=#{kakaoId} and memberquit is null
	</select>
	
	<select id="selectOne" parameterType="member" resultType="member">
		select * from member where kakaoId=#{kakaoId}
	</select>
	
	<select id="memberEmailCheck" parameterType="string" resultType="string">
		select emailAuthKey from member where memberEmail=#{memberEmail}
	</select>
	
	<insert id="insertUserAuth" parameterType="map">
		insert into member (emailAuthKey, memberEmail) values (#{emailAuthkey} ,#{memberEmail})
	</insert>

	<update id="updateUserAuth">
		update into member set emailAuthkey=#{emailAuthkey} where memberEmail=#{memberEmail}
	</update>
	
	<update id="memberUpdate">
      update Member set memberNick=#{memberNick}, intro=#{intro}, memberProfile=#{memberProfile} where memberEmail=#{memberEmail} and memberQuit is null
   </update>
   
   <update id="memberPwUpdate">
      update member set memberPw=#{memberPw} where memberEmail=#{memberEmail} and memberQuit is null
   </update>
   
   <select id="memberPwCheck" parameterType="member" resultType="member">
      select memberPw from member where memberEmail=#{memberEmail} and memberQuit is null
   </select>
   
   <select id="memberNickCheck" parameterType="string" resultType="int">
      select count(*) from member where memberNick=#{memberNick} and memberQuit is null
   </select>
   
   <update id="memberDelete">
      update member set memberQuit=sysdate where memberEmail=#{memberEmail}
   </update>
   
</mapper>
