<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">

	<insert id="insertOne" parameterType="project">
		INSERT INTO PROJECT VALUES(PROJECT_SEQ.NEXTVAL, #{projectThumnail}, #{projectTitle}, #{projectContent}, #{beginDate}, #{endDate}, #{goalPrice}, 'N', NULL, #{anchorCount}, #{projectStatCode}, #{projectSumary}, #{projectPhone}, #{memberEmail}, #{minorCode}, 'N', #{projectFormDate})
		<selectKey keyProperty="projectNo" resultType="int" order="AFTER" keyColumn="projectNo">
			SELECT PROJECT_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertFundingOp" parameterType="fundingOption">
		INSERT INTO FUNDINGOPTION VALUES(FUNDINGOPTION_SEQ.NEXTVAL, #{projectNo}, #{fundPrice}, #{deliveryDate})
		<selectKey keyProperty="packageNo" resultType="int" order="AFTER" keyColumn="packageNo">
			SELECT FUNDINGOPTION_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertOptionDetail" parameterType="optionDetail">
		INSERT INTO OPTIONDETAIL VALUES(#{packageNo}, #{packageName}, #{packageAmount})
	</insert>
	
	<select id="selectCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
			FROM PROJECT A 
			JOIN MINORCATEGORY B ON A.MINORCODE = B.MINORCODE
			JOIN MIDCATEGORY C ON B.MIDCODE = C.MIDCODE
			WHERE 1=1
		<if test="projectStatCode != null and projectStatCode != ''">
			AND PROJECTSTATCODE = #{projectStatCode}
		</if>
		<if test="majorCode != null and majorCode != ''">
			AND C.MAJORCODE = #{majorCode}
		</if>
		<if test="midCode != null and midCode != ''">
			AND C.MIDCODE = #{midCode}
		</if>
		<if test="keyword != null and keyword != ''">
			AND PROJECTTITLE LIKE '%'||#{keyword}||'%' 
		</if>
	</select>
	
	<select id="selectList" parameterType="map" resultType="project">
		SELECT A.*, B.MINORNAME, C.*, 
			nvl((select sum((e.fundPrice*d.packageamount)+d.extramoney) from fundinglog d join fundingoption e on d.packageNo = e.packageNo where d.projectNo = a.projectNo),0) as reach,
			nvl((select sum((e.fundPrice*d.packageamount)+d.extramoney) from fundinglog d join fundingoption e on d.packageNo = e.packageNo where d.projectNo = a.projectNo)/goalprice*100,0) as reachRate,
			nvl((select count(*) from fundinglog f where f.projectNo = a.projectNo),0) as funderNo
			FROM PROJECT A 
			JOIN MINORCATEGORY B ON A.MINORCODE = B.MINORCODE
			JOIN MIDCATEGORY C ON B.MIDCODE = C.MIDCODE
			WHERE 1=1
		<if test="projectStatCode != null and projectStatCode != ''">
			AND PROJECTSTATCODE = #{projectStatCode}
		</if>
		<if test="majorCode != null and majorCode != ''">
			AND C.MAJORCODE = #{majorCode}
		</if>
		<if test="midCode != null and midCode != ''">
			AND C.MIDCODE = #{midCode}
		</if>
		<if test="keyword != null and keyword != ''">
			AND PROJECTTITLE LIKE '%'||#{keyword}||'%' 
		</if>
		<if test="orderby != null and orderby != ''">
			ORDER BY ${orderby} DESC
		</if>
	</select>
	
	<select id="selectOne" parameterType="int" resultType="project">
		SELECT A.*, B.MINORNAME, C.*,
			nvl((select sum((e.fundPrice*d.packageamount)+d.extramoney) from fundinglog d join fundingoption e on d.packageNo = e.packageNo where d.projectNo = a.projectNo),0) as reach,
			nvl((select sum((e.fundPrice*d.packageamount)+d.extramoney) from fundinglog d join fundingoption e on d.packageNo = e.packageNo where d.projectNo = a.projectNo)/goalprice*100,0) as reachRate,
			nvl((select count(*) from fundinglog f where f.projectNo = a.projectNo),0) as funderNo
		FROM PROJECT A
		JOIN MINORCATEGORY B ON A.MINORCODE = B.MINORCODE
		JOIN MIDCATEGORY C ON B.MIDCODE = C.MIDCODE
		WHERE A.PROJECTNO = #{projectNo}
		
	</select>
	
	<select id="selectFunderList" parameterType="fundingLog">
		SELECT * FROM FUNDINGLOG WHERE PROJECTNO = #{projectNo}
	</select>
	
	<select id="selectFundingOptionList" parameterType="int">
		SELECT * FROM FUNDINGOPTION WHERE PROJECTNO = #{projectNo}
	</select>
	
	<select id="selectOptionDetailList" parameterType="int">
	</select>
	
</mapper>
