<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
   <typeAliases>
		<typeAlias type="com.kh.fundy.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.fundy.model.vo.AskBoard" alias="askBoard"/>
		<typeAlias type="com.kh.fundy.model.vo.ShippingAddr" alias="shippingAddr"/>
		<typeAlias type="com.kh.fundy.model.vo.Project" alias="project"/>
		<typeAlias type="com.kh.fundy.model.vo.FundingOption" alias="fundingOption"/>
		<typeAlias type="com.kh.fundy.model.vo.OptionDetail" alias="optionDetail"/>
		<typeAlias type="com.kh.fundy.model.vo.Category" alias="category"/>
		<typeAlias type="com.kh.fundy.model.vo.RndPackage" alias="rndPackage"/>
		<typeAlias type="com.kh.fundy.model.vo.FundingLog" alias="fundingLog"/>
		<typeAlias type="com.kh.fundy.model.vo.AskReply" alias="askReply"/>
		<typeAlias type="com.kh.fundy.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.fundy.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.kh.fundy.model.vo.Comment" alias="comment"/>
		<typeAlias type="com.kh.fundy.model.vo.CommentReply" alias="commentReply"/>
   		<typeAlias type="com.kh.fundy.model.vo.Like" alias="like"/>
   		<typeAlias type="com.kh.fundy.model.vo.Favorite" alias="favorite"/>
		<typeAlias type="com.kh.fundy.model.vo.Message" alias="message"/>
		<typeAlias type="com.kh.fundy.model.vo.MyDonation" alias="myDonation"/>
   </typeAliases>
</configuration>
