:root
{
    --basic-color: #126196;
}

.basic-btn-active
{
    color: white;
    border: none !important;
    background-color: #126196 !important;
}

.basic-btn
{
    width: 70px;
    height: 35px;
    margin: 0 10px;
    border: 1px solid #bbb;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.basic-btn:not(.basic-btn-acitve):hover{background-color: #eee;}

.pagebar
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pagebar-unit
{
    height: 25px;
    width: 25px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 13px;
    cursor: pointer;
    transition: 150ms linear;
}

.pagebar-unit:not(.pagebar-unit-active):hover{background-color: #eee;}

.pagebar-unit-active
{
    background-color: #126196;
    border: none;
    color: white;
}

.pagebar-nav
{
    height: 80%;
    width: 80%;
}