    /* 헤더 부분 */

        .header
        {
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid #ccc;
        }

        .header-wrapper
        {
            width: 1005px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 18px;
            justify-content: space-between;
        }

        .header-group{display: flex; height: 100%;}

        .header-group > div
        {
            margin: 10px;
            display: flex;
            align-items: center;
            font-weight: bold;
        }

        .header-group > div > a
        {
            text-decoration: none;
            color: #444;
            font-weight: bold;
        }

        .logo > a
        {
            font-size: 27px;
            color: var(--basic-color) !important;
        }

        .logo span
        {
            color: gray;
            font-size: 16px;
        }

        .current-div{color: var(--basic-color) !important;           }

        .category-btn
        {
            font-size: 31px;
            color: var(--basic-color);
            cursor: pointer;
        }

        .search-btn
        {
            color: gray;
            margin-top: 3px;
            font-size: 30px;
            cursor: pointer;
        }

        .search-bar
        {
            border: none;
            border-bottom: 1px solid #ccc;
            height: 25px;
            display: none;
        }

        .user-btn > img, .login-btn > img
        {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
        }

        /* 네비게이션 부분 */

        .nav
        {
            position: absolute;
            top: 65px;
			width: 100%;
			min-width: 1005px;
            display: none;
            align-items: center;
            justify-content: center;
            height: 100px;
            background-color: rgba(255,255,255,0.9);
            z-index: 2;
        }
        
        .nav-wrapper
        {
        	width: 1005px;
        	height: 100%;
        	display: flex;
        	align-items: center;
            justify-content: space-between;
        }

        .nav-wrapper > div
        {
            margin: 10px;
            transition: 100ms ease;
        }

        .nav-wrapper > div:hover
        {
            transform: scale(1.1);
        }

        .nav-wrapper > div > a
        {
            text-decoration: none;
            color: #444;
            font-size: 13px;
            font-weight: bold;
            display: flex;
            align-items: center;
            flex-flow: column;
        }

        .nav-wrapper > div > a > img
        {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .current-category
        {
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
        }

        .section{width: 1005px;}

