@charset "UTF-8";

.projectWrite-header
        {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 27px;
            font-weight: bold;
            margin: 30px 0;
            color: #444;
        }
  
  
  
.projectWrite-nav {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ccc;
}

.projectWrite-nav > div {
	margin: 0 20px;
	color: #444;
	font-size: 17px;
	position: relative;
}   
.projectWrite-nav > div.nav-selected {
	border-bottom: 3px solid rgb(76, 168, 228);
}
/*===============*/

section.projectWrite-section {
	flex-direction: row;
}
section.projectWrite-section input {
	/* border: 1px solid #ced4da !important;
	border-bottom: 1px solid #ced4da !important;
	width: 18px; */
}
section.projectWrite-section > div.projectWrite-nav > div > button{
	background-color: white;
	border: none;
}
article.write-detail {
	width: 100%;
	display: none;
	margin: auto;
	font-size: 14px;
}
article.selected {
	display: block;
}
div.write-section {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ccc;
}
div.write-section-noborder {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: none;
}

article.write-detail div.write-section div.write-category {
	min-width:17%; display:flex;
	padding-left: 4%;
	font-size: 18px;
	font-weight: bold;
	color: #126196;
}
article.write-detail div.write-section div.write-content-flex {
	min-width:83%; display: flex;
}
article.write-detail div.write-section div.write-content-block {
	min-width:83%;
}
article.write-detail div.write-section div.write-content-block > div:nth-child(2) {
	margin-top: 7px;
}
article.write-detail div.write-section div.write-content-block > div:nth-child(3) {
	margin-top: 7px;
}
article.progress-area div.write-section div.write-category {
	min-width:17%; display:flex;
	padding-left: 4%;
	font-size: 18px;
	font-weight: bold;
	color: #126196;
}
article.progress-area div.write-section div.write-content-flex {
	min-width:83%; display: flex;
}
article.progress-area div.write-section div.write-content-block {
	min-width:83%;
}
article.progress-area div.write-section div.write-content-block > div:nth-child(2) {
	margin-top: 7px;
}
article.progress-area div.write-section div.write-content-block > div:nth-child(3) {
	margin-top: 7px;
}

div.write-content-flex div.progress-container {
	margin-top: 5px;
	width: 60%;
	text-align: center;
}
div.write-content-flex div.progress-percent {
	padding-left: 1%;
	width: 13%;
	color: #126196; 
	font-size: 24px;
	font-weight: bold;
}

div.write-section div.creator-profile-img {
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
div.write-section div.creator-profile-img img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

/* 수수료 버튼 인풋영역 */
div.write-section .inputLong {
	display: inline-block; width: 97.5%;
}
div.write-section .inputShort {
	display: inline-block; width: 48%;
}
div.write-section .input38Per {
	display: inline-block; width: 38%;
}
div.write-section .inputDay {
	display: inline-block; width: 30%;
}
div.write-section .inputSu {
	display: inline-block; width: 10%;
}
div.write-section .input25Per {
	display: inline-block; width: 25%;
}
div.write-section div.feeInfo {
	display: flex;
	border-bottom: 1px solid #ccc;
	padding-top: 7px;
	padding-bottom: 7px;
}
div.write-section div.feeInfo:last-child {
	border: 0px;
}
div.write-section div.feeInfo > div:first-child {
	width: 50%;
}
div.write-section div.feeInfo > div:last-child{
	width: 50%;
}
div.write-section div.add-btn-area {
	display: flex; font-weight: bold; color: #126196;
}
div.write-section div.add-btn-area > div:first-child {
	font-size: 30px;
}
div.write-section div.add-btn-area > div:last-child {
	font-size: 18px;
}

/* 리워드영역 */
div.write-section div#reward-container {
	/* min-height : 80px; */
}
div.write-section div#reward-container div.reward {
	width: 90%; margin-bottom: 15px; border: 1px solid #126196;
	padding: 5px 15px 0 25px;
}
div.write-section div#reward-container div.reward input.inputShort{
	margin-right: 10px;
}
div.write-section div#reward-container div.reward div.reward-header {
	display: flex; flex-direction: row; justify-content: space-between;
}
div.write-section div#reward-container div.reward span {
	font-size: 14px;
	font-weight: bold;
}
div.write-section div#reward-container div.reward div.reward-header > div:first-child {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
}
div.write-section div#reward-container div.reward div.reward-header > div:first-child > div:first-child {
	padding-bottom: 5px;
}
div.write-section div#reward-container div.reward div.reward-header div.change-remove-seq-area {
	display: flex; font-weight: bold; color: #126196;
}
div.write-section div#reward-container div.reward div.reward-header div.change-remove-seq-area > div:first-child {
	font-size: 30px;
	margin-right: 2px;
}
div.write-section div#reward-container div.reward div.reward-header div.change-remove-seq-area > div:last-child {
	font-size: 16px;
}
div.write-section div#reward-container div.reward div.rewardProduct-container {
	padding-bottom: 5px;
}
div.write-section div#reward-container div.reward div.rewardProduct-container div.reward-col {
	display: flex; margin: 0 0 7px 0;
}
div.write-section div#reward-container div.reward div.rewardProduct-container div.reward-col:first-child {
	margin-top: 5px;
}
div.write-section div#reward-container div.reward div.rewardProduct-container div.reward-col:last-child {
	margin-bottom: 10px;
}
div.write-section div#reward-container div.reward div.rewardProduct-container > div.reward-col div.first-row {
	width: 40%;
	margin-right: 5px;
}
div.write-section div#reward-container div.reward div.rewardProduct-container > div.reward-col div.second-row {
	width: 15%;
}
div.write-section div#reward-container div.reward div.rewardProduct-container > div.reward-col div.third-row {
	padding-left: 1px;
}
div.write-section div#reward-container div.reward div.reward-deli-container {
	margin: 20px 0 20px 0;
}
div.write-section div#reward-container div.reward div.reward-deli-container > div:last-child {
	padding: 15px;
	width: 97.5%;
	text-align: center;
	border: 1px solid #ccc;
}
div.write-section div#reward-container div.reward div.reward-isdeli-container {
	margin-bottom: 5px;
}
div.write-section div#reward-container div.reward div.reward-delete-container {
	justify-content: flex-end; display: flex; justify-content: flex-end; margin-bottom: 5px;
}
div.write-section div.remove-btn-area {
	display: flex; font-weight: bold; color: orange;
}
div.write-section div.remove-btn-area > div:first-child {
	font-size: 30px;
}
div.write-section div.remove-btn-area > div:last-child {
	font-size: 18px;
}
div.write-section button.remove-btn {
	background-color: white; border: 0;
}

/* 입금계좌입력영역 */
div.write-section div#write-account-container {
	width: 85%;
	border: 1px solid #ccc;
	padding: 15px 25px 15px 25px;
}
div.write-section div#write-account-container > div.acc-col {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.write-section div#write-account-container > div.acc-col > div.cate-row {
	font-weight: bold;
	width: 15%;
	padding-top: 1%;
}
div.write-section div#write-account-container > div.acc-col > div.content-row {
	width: 42%;
}

/* 이전 임시저장 다음버튼 */
#write-btn-container {
	width: 300px;
	margin:auto;
	padding-top: 35px;
	padding-bottom: 100px;
}
#write-btn-container button.write-btn {
	width: 82px;
	font-size: 14px;
}
#write-btn-container button.write-btn:nth-child(2) {
	margin-left: 15px;
	margin-right: 15px;
}

